<% provide(:title, "Sign Up") %>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-10 col-sm-8 col-lg-6 d-flex flex-column justify-content-center">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <h1 class="h3 mb-3 fw-normal">Sign up</h1>

            <div class="mb-3">
              <%= f.label :email, for: "email", class:"form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"email" %>
            </div>

            <div class="mb-3">
              <%= f.label :password, for: "password", class:"form-label" %>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"password" %>
              <% if @minimum_password_length %>
              <div id="emailHelp" class="form-text">(<%= @minimum_password_length %> characters minimum)</div>
              <% end %>
            </div>

            <div class="mb-3">
              <%= f.label :password_confirmation, for: "password_confirm", class:"form-label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"password_confirm" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", data: {turbo: false}, class: "btn btn-primary" %>
            </div>
          <% end %>


          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "link-primary" %>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Rails Trading App</h1>
            <p class="lead">A trading platform where you can buy and sell stocks!</p>
            <p class="lead">Built using Ruby on Rails!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <%= link_to "About", pages_about_path, class:"btn btn-primary btn-lg", role: "button" %>
            </div>
        </div>
    </div>
</div>






