<% provide(:title, "Dashboard") %>
<div class="row my-2">
    <div class="col">
        <div class="card">
            <div class="card-header bg-secondary">
                User Statistics
            </div>
            <div class="card-body">
                <h5 class="card-title">Total users: <%= User.count %></h5>
                <p class="card-text">
                    Verified users: ( <%= User.where(is_approved: "verified").count %> ) | Not verified users: ( <%= User.where(is_approved: "not_verified").count %> )
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header bg-secondary">
                Transaction Statistics
            </div>
            <div class="card-body">
                <h5 class="card-title">Total transactions: <%= Transaction.count %></h5>
                <p class="card-text">
                Buy Transactions: ( <%= Transaction.where(transaction_type: "buy").count %> ) | Sell transactions: ( <%= Transaction.where(transaction_type: "sell").count %> )
                </p>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">
<div class="row my-2">
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All Users</button>
        <button class="nav-link" id="nav-transactions-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">All Transactions</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-users-tab" tabindex="0">
        <div class="table-responsive mx-3">
            
            <table class="table align-middle caption-top">
                <caption>
                    <span>List of Users</span>
                    <%= link_to "Create New User", new_user_path, class: "btn btn-sm btn-primary ms-3", role: "button" %>
                </caption>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Approved</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Confirmed At</th>
                        <th scope="col">Confirmation Token</th>
                        <th scope="col" colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr scope="row">
                            <td><%= user.id %></td>
                            <td><%= user.email %></td>
                            <td><%= user.role %></td>
                            <% if user.is_approved == 'verified'%>
                                <td class="text-success"><%= user.is_approved %></td>
                            <% else %>
                                <td class="text-danger"><%= user.is_approved %></td>
                            <% end %>
                            <td><%= user.created_at %></td>
                            <td><%= user.confirmed_at %></td>
                            <td><%= user.confirmation_token %></td>
                            <td><%= link_to "Show", show_user_path(user.id), class: "btn btn-primary", role: "button"  %></td>
                            <td><%= button_to "Verify", approve_user_path(user.id), class: "btn btn-primary", method: :patch  %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-transactions-tab" tabindex="0">
        <div class="table-responsive mx-3">
            <table class="table align-middle caption-top">
            <caption>List of transactions</caption>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User ID</th>
                        <th scope="col">User Email</th>
                        <th scope="col">Stock Symbol</th>
                        <th scope="col">Price</th>
                        <th scope="col">Lot Size</th>
                        <th scope="col">Transaction Type</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @transactions.each do |transaction| %>
                        <tr scope="row">
                            <td><%= transaction.id %></td>
                            <td><%= transaction.user_id %></td>
                            <td><%= transaction.user.email %></td>
                            <td><%= transaction.stock_symbol %></td>
                            <td><%= transaction.price %></td>
                            <td><%= transaction.lot_size %></td>
                            <td><%= transaction.transaction_type %></td>
                            <td><%= button_to "Delete", delete_transaction_path(transaction.id), {method: :delete, class: "btn btn-danger"}  %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>