<%= form_with scope: :transaction, url: create_transaction_path, local: true do |f| %>

    <h1 class="h3 mb-3 fw-normal mx-3">Transaction - Create New</h1>
    
    <p>
        <% if @transaction.errors.any? %>
            <ul>
                <% @transaction.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>
    </p>
    
    <div class="mb-3">
        <%= f.label :stock_symbol, for: "stock_symbol", class:"form-label" %>
        <%= f.text_field :stock_symbol, class:"form-control", id:"stock_symbol" %>
    </div>
    
    <div class="mb-3">
    <%= f.label :price, for: "price", class:"form-label" %>
    <%= f.text_field :price, class:"form-control", id:"price" %>
    </div>

    <div class="mb-3">
    <%= f.label :lot_size, for: "lot_size", class:"form-label" %>
    <%= f.text_field :lot_size, class:"form-control", id:"lot_size" %>
    </div>

    <div class="mb-3">
    <%= f.label :transaction_type, for: "transaction_type", class:"form-label" %>
    <%= f.select :transaction_type, options_for_select([ "buy", "sell" ], "buy"), {}, {class: "form-select", id:"transaction_type"} %>
    </div>
    

    <%= f.submit "Create", class:"btn btn-primary" %>
<% end %>