<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <%= link_to "Trading App", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        

        <% if user_signed_in? %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if current_user.admin? %>
                    <li class="nav-item">
                        <%= link_to "Dashboard", dashboard_path, class: "nav-link text-primary" %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Transactions", transactions_path, class: "nav-link text-primary" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "My Portfolio", my_portfolio_path, class: "nav-link text-primary" %>
                    </li>
                    <%# <li class="nav-item"> %>
                        <%#= link_to "Profile", root_path, class: "nav-link text-primary" %>
                    <%# </li> %>
                <% end %>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                    Welcome 
                    <% if current_user.is_approved == 'verified'%>
                    <span class="badge text-bg-success">Verified</span>
                    <% else %>
                    <span class="badge text-bg-danger">Not Verified</span>
                    <% end %>
                    <%= current_user.role %>: 
                    <%= current_user.email %></a>
                </li>
                <li class="nav-item">
                    <%= link_to "Log out", destroy_user_session_path, class: "btn btn-danger", role: "button", 'data-turbo-method': :delete %>
                </li>
            </ul>
        <% else %>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-3">
                    <%= link_to "Log in", new_user_session_path, {class: "btn btn-outline-primary", role: "button"} %>
                </li>
                <li class="nav-item">
                    <%= link_to "Sign up", new_user_registration_path, {class: "btn btn-outline-primary" , role: "button"} %>
                </li>
            </ul>
        <% end %>

        
    </div>
    </div>
</nav>